html, body {
    margin: 0;
    padding: 0;
    color: white;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-size: 1.75rem;
    color: #05cbe9;
    margin: 0;
}

.card {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.card-img {
    object-fit: cover;
    flex-basis: 150px;
    min-width: 0;
    min-height: 0;
}

.content {
    background-color: #111d4a;
    padding: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}

.card-body {
    line-height: 1.6;
}

.card-footer,
.card-title {
     font-family: 'Blinker', sans-serif;
}

.btn {
    background-color: #05cbe9;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    color: #111d4a;
    padding: .35em 1.25em;
    letter-spacing: 1px;
}

.btn:hover,
.btn:focus {
    cursor: pointer;
    transform: scale(1.1);
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3em;
}

.card-read-time {
    margin: 0;
    opacity: .5;
    line-height: 1;
}

.card-read-time span {
    font-size: 2rem;
    font-weight: 700;
    display: block;
}

@media (min-width: 600px) {
    .card {
        flex-direction: row;
    }
    
    .card-img {
        height: 300px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
    }
    
    .card-footer {
        margin-top: auto;
    }
    
    .card-body {
        font-size: 1.125rem;
        max-width: 500px;
    }
    
    .card-title {
        font-size: 2.25rem;
    }
}